<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Contact</title>
</head>

<body>
    <div class="container-fluid mt-5">
        <div class="w-75 mx-auto">
            <h1>Contact</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non aliquet ex. Vestibulum ante ipsum
                primis
                in
                faucibus orci luctus et ultrices posuere cubilia curae; Etiam ac consequat est, ut suscipit justo. Sed
                porttitor
                leo id bibendum dictum.</p>
        </div>

        <div class="card w-50 mx-auto bg-light ">
            <div class="card-body">
                <form class="text-right">
                    <div class="form-group">
                        <div class="row">
                            <label for="exampleInputEmail1" class="col-md-3 col-form-label">Your E-mail</label>
                            <input type="email" class="form-control col-md-9" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Your email">
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label for="exampleInputTextArea" class="col-md-3 col-form-label">Your message </label>
                            <textarea class="form-control col-md-9" id="exampleInputTextArea" rows="3"
                                placeholder="Enter your message here..."></textarea>
                        </div>

                    </div>
                    <div class="form-check">
                    </div>
                    <div class="row d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                    </div>

                </form>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>